
@{
    ViewBag.Title = "_Navigation";
}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/Home/Index">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/About">Cv Oluştur </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sayfa3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/Login">Giriş</a>
        </li>
    </ul>

